DB_URL=postgresql://postgres:via_trip_pw@db:5432/via_trip
GOOGLE_MAPS_SERVER_KEY=your_google_maps_server_key_here
JWT_SECRET=your_jwt_secret_key_here
PORT=5000
MAILTRAP_HOST=smtp.mailtrap.io
MAILTRAP_PORT=2525
MAILTRAP_USER=your_mailtrap_user
MAILTRAP_PASS=your_mailtrap_password
